<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <a style="cursor: pointer;" (click)="onSelectPosts()">
        <div class="jumbotron mx-auto text-center">
          <h1>Posts</h1>
          <p class="text-muted">See whats others have posted</p>
        </div>
      </a>

      <hr>
      <div class="p-2"></div>
      <a
        style="cursor: pointer; margin-top: 10px;" (click)="OnSelectCreate()">
        <div class="jumbotron mx-auto text-center">
          <h1>Create</h1>
          <p class="text-muted">Create your own free blogs</p>
        </div>
      </a>

    </div>
  </div>
</div>
